{% extends 'base.html' %} {% block content %}
<h2>Products</h2>
<div class="row">
  {% for product in products %}
  <div class="col-md-4 mb-3">
    <div class="card">
      {% if product.image %}
      <img
        src="{{ product.image.url }}"
        class="card-img-top"
        alt="{{ product.name }}"
      />
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a>
        </h5>
        <p class="card-text">
          ${{ product.price }} - by {{ product.vendor.store_name }}
        </p>
      </div>
    </div>
  </div>
  {% empty %}
  <p>No products available.</p>
  {% endfor %}
</div>
{% endblock %}
